services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - 8090:8090
    volumes:
      - ./data:/beszel_data
    restart: unless-stopped
